body {
    font-family: Garamond;
   font size: 14px;
    
}

.wrapper{
 
    width: 1280px;
   margin: 0 auto;
      
}

.menu{
    width: 200px;
    float: left; 
    
    }

.logo{ 
    background: transparent url("pic.gif") no-repeat center;
    height: 195px;
    margin-right: 10px;
}

.menu>ul{
    padding:0;
    
}

.menu>ul>li{
    list-style-type: none;}

.menu>ul>li>a{
    display: block;
    padding: 8px;
   margin-left: 10px;
    margin-right: 10px;
    text-align: left;
    font-size: 14px; 
    color:black;
    
}
.content{
    width: 600px;
    margin-left: 200px;
    padding: 20px;
    
}

.footer {
     width: 1280px;
  margin-left: 210px;
     padding: 8px;
     font-size: 14px; 
    color:black;
    
    
    
}